@font-face {
    font-family: 'korinth_serial-lightitalic';
    src: url('korinth_serial-lightitalic-webfont.woff2') format('woff2'),
         url('korinth_serial-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
